/* Global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Jost', sans-serif;
}

.clear {
    clear: both;
}

.title {
    font-size: 35px;
    font-weight: 700;
}

.sub_title {
    font-size: 14px;
    font-weight: 600;
    color: #7e7d7d;
    letter-spacing: 1px;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

/* Header */

/* Carousel */

/* About Us */

/* Discover */

/* Services */

/* Gallery */
.gallery {
    background: #F8F9FA;
}

.gallery_item a {
    overflow: hidden;
    position: relative;
}

.gallery_item a:hover img {
    overflow: hidden;
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
}

.gallery_item a:hover .gallery_overlay {
    bottom: 0;
    visibility: visible;
    opacity: 1;
}

.gallery_item a:hover .overlay_black {
    visibility: visible;
    opacity: 1;
}

.gallery_item .gallery_overlay {
    position: absolute;
    color: #fff;
    bottom: -100%;
    left: 0;
    padding: 46px 50px;
    visibility: hidden;
    opacity: 0;
    z-index: 2;
    transition: all 0.5s;
}

.gallery_item .gallery_overlay h3 {
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 10px;
}

.gallery_item .gallery_overlay p {
    font-size: 18px;
    color: #fff;
}

.gallery_item .overlay_black {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(29, 42, 55, 0.7);
    visibility: hidden;
    opacity: 0;
    z-index: 1;
}

.gallery_brand img {
    padding: 0 18px;
}

/* Lightbox Close Button Image*/
.lb-data .lb-close {
    background: url(../img/gallery/close.png) top right no-repeat;
}

/* Success */
.success {
    background: #fff;
}

.success_right .progress_info {
    position: relative;
    margin-bottom: 30px;
}

.success_right .progress_info .progress_title {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 400;
    color: #3f3a64;
}

.success_right .progress_info .progress_title {
    display: grid;
    grid-template-columns: 1fr auto;
}

.success_right .progress_info .progress {
    height: 4px;
    background-color: #f7f7f7;
}

/* Progress Bar */
.success_right .info_1 .progress .progress_1:before,
.success_right .info_2 .progress .progress_2:before,
.success_right .info_3 .progress .progress_3:before,
.success_right .info_4 .progress .progress_4:before {
    width: 28px;
    height: 28px;
    border: 1px solid;
    opacity: 0.3;
}

.success_right .info_1 .progress .progress_1:after,
.success_right .info_2 .progress .progress_2:after,
.success_right .info_3 .progress .progress_3:after,
.success_right .info_4 .progress .progress_4:after {
    width: 13px;
    height: 13px;
    border: 3px solid;
    background-color: #fff;
}

/* Progress Bar 1 */
.success_right .info_1 .progress_title {
    width: 80%;
}

.success_right .info_1 .progress .progress_1 {
    color: #61fded;
    background-color: #0d8abc;
    background-image: linear-gradient(-224deg, #0d8abc, #61fded);
}

.success_right .info_1 .progress .progress_1:before,
.success_right .info_1 .progress .progress_1:after {
    content: "";
    position: absolute;
    right: 20%;
    top: 90%;
    border-radius: 50%;
    transform: translate(50%, -50%);
}

/* Progress Bar 2 */
.success_right .info_2 .progress_title {
    width: 95%;
}

.success_right .info_2 .progress .progress_2 {
    color: #eece90;
    background-color: #d45529;
    background-image: linear-gradient(-224deg, #d45529, #eece90);
}

.success_right .info_2 .progress .progress_2:before,
.success_right .info_2 .progress .progress_2:after {
    content: "";
    position: absolute;
    right: 5%;
    top: 90%;
    border-radius: 50%;
    transform: translate(50%, -50%);
}

/* Progress Bar 3 */
.success_right .info_3 .progress_title {
    width: 60%;
}

.success_right .info_3 .progress .progress_3 {
    color: #5c51ff;
    background-color: #f646a9;
    background-image: linear-gradient(-224deg, #f646a9, #5c51ff);
}

.success_right .info_3 .progress .progress_3:before,
.success_right .info_3 .progress .progress_3:after {
    content: "";
    position: absolute;
    right: 40%;
    top: 90%;
    border-radius: 50%;
    transform: translate(50%, -50%);
}

/* Progress Bar 4 */
.success_right .info_4 .progress_title {
    width: 85%;
}

.success_right .info_4 .progress .progress_4 {
    color: #e5529a;
    background-color: #e77654;
    background-image: linear-gradient(-224deg, #e77654, #e5529a);
}

.success_right .info_4 .progress .progress_4:before,
.success_right .info_4 .progress .progress_4:after {
    content: "";
    position: absolute;
    right: 15%;
    top: 90%;
    border-radius: 50%;
    transform: translate(50%, -50%);
}

/* Feedback */
.feedback {
    background: #F8F9FA;
}

.feedback_item {
    display: block;
    padding: 40px 30px;
    position: relative;
    max-width: 900px;
}

.feedback_item .feedback_line {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: #666;
    opacity: 0.8;
    margin-bottom: 1.5rem;
    position: relative;
}

.feedback_item .feedback_img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: inline-block;
    overflow: hidden;
}

.feedback_item .feedback_background {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 20px;
}

.feedback_item .feedback_background .feedback_name h3 {
    font-weight: 600;
    font-size: 20px;
}

/* Owl Carousel Button */
.owl-two.owl-theme .owl-dots .owl-dot{
   padding: 0px 7px;
} 

/* News */
.news{
    background: #fff;
}

.news_content .news_item .card{
    background: none;
    box-shadow: 0 25px 98px 0 rgba(0, 0, 0, 0.04);
    border: 1px solid transparent;
}

.news_content .news_item .card_top{
    position: relative;
}

.news_contant .card img{
    transition: 0.3s ease-in-out;
}

.news_content .card:hover img{
    overflow: hidden;
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
}

.news_content .news_item .card_top a{
    overflow: hidden;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.news_content .news_item .card_body{
    padding: 20px;
}

.news_content .news_item .card_body a.news_small{
    font-size: 17px;
    font-weight: 400;
    color: #999;
}

.news_content .news_item .card_body a.news_desc{
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
    margin-top: 10px;
    color: #3f3a64;
    transition: 0.5s all;
}

.news_content .news_item .card_body a.news_desc:hover{
    color: #009f4d;
}

.news_content .news_item .card_bottom{
    background: #fff;
    border-top: 1px solid #eee;
    padding: 0.75rem 1.25rem;
    /* align-items: center; */
}

.card_bottom .bottom_info{
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: 10px;
}

.card_bottom .bottom_info ul{
    margin: 0;
    padding: 0;
}

.card_bottom .bottom_info ul li{
    display: inline-block;
}

.card_bottom .bottom_info ul li span{
    color: #666;
    font-size: 15px;
    font-weight: 600;
    opacity: 0.6;
}

.card_bottom .bottom_info ul li a{
    font-size: 16px;
    color: #3f3a64;
    font-weight: 600;
    line-height: 26px;
    text-transform: capitalize;
    transition: 0.5s all;
}

.card_bottom .card_date p{
    font-size: 15px;
    margin: 0;
}

.card_bottom .bottom_info ul li a:hover{
    color: #009f4d;
}

/* Contact */
.contact{
    background-image: url(../img/contact/map.png);
    background-color: #151421;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.contact_email{
    max-width: 700px;
    margin: 0 auto;
}

.contact_email .contact_title h3{
    color: #fff;
    font-size: 35px;
    line-height: 45px;
    font-weight: 700;
}

.contact_email .contact_title .title_content{
    color: #eee;
}

.contact_email .contact_form{
    display: grid;
    grid-template-columns: 50px 1fr auto;
    max-width: 550px;
    margin: auto;
}

.contact_form .contact_icon{
    color: #999;
    background-color: rgba(0, 0, 0, 0.25);
    border-color: rgba(255, 255, 255, 0.15);
    padding: 0 15px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.contact_form input[type="email"]{
    padding: 14px 20px;
    font-size: 16px;
    line-height: 28px;
    border: 1px solid #eee;
    outline: none;
    background: #fff;
    background-color: rgba(0, 0, 0, 0.25);
    width: 100%;
    border-radius: 0;
    border-color: rgba(255, 255, 255, 0.15);
    border-left: none;
    color: #999;
}

.contact_form .form_button{
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    padding: 0 25px;
    font-size: 16px;
    color: #fff;
    background-color: #00a63f;
    border-color: #00a63f;
}

.contact_form .button_style{
    line-height: 18px;
    font-weight: 600;
}

/* Footer */
footer{
    background: #151421;
    border-top: 1px solid rgba(249, 249, 249, 0.1);
}

.footer_logo a{
    font-size: 30px;
    font-weight: 600;
    color: #fff;
    opacity: 1;
}

.footer_logo a span:first-child{
    color: #009f4d;
    margin-right: 5px;
}

.footer_logo a span:last-child{
    font-size: 14px;
    padding-left: 46px;
    font-weight: 600;
    opacity: 0.9;
}

.footer_para{
    font-size: 18px;
    line-height: 28px;
    color: #97a1a9;
}

.footer_social a{
    display: inline-block;
    text-align: center;
    font-size: 16px;
    color: #97a1a9;
    opacity: 0.6;
    margin-right: 15px;
    transition: 0.3s;
}

.footer_social a:hover{
    color: #fff;
    opacity: 1;
}

.footer_info p{
    font-size: 18px;
    line-height: 28px;
    color: #97a1a9;
}

.footer_info a{
    font-size: 18px;
    line-height: 28px;
    color: #97a1a9;
    opacity: 0.8;
    transition: all 0.5s;
}

.footer_info a:hover{
    color: #fff;
}

.footer_title{
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 25px;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
}

.footer_link ul{
    margin: 0;
    padding: 0;
}

.footer_link ul li{
    margin-bottom: 10px;
}

.footer_link ul li a{
    font-size: 18px;
    line-height: 28px;
    color: #97a1a9;
    opacity: 0.8;
    transition: all 0.5s;
}

.footer_link ul li a:hover{
    color: #fff;
}

.footer_copyright{
    padding: 1.5em 0;
    border-top: 1px solid rgba(249, 249, 249, 0.1);
}

.copyright_text p{
    font-size: 17px;
    letter-spacing: 0.5px;
    color: #7f8a94;
    margin: 0;
}

.copyright_text a{
    color: #009f4d;
}

/* Responsive */
@media (min-width: 1280px) {
    .container {
        max-width: 1200px;
    }
}