*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{

}

.clear{
    clear: both;
}

/* Header */

/* Carousel */

/* About Us */

/* Discover */

/* Services */

/* Gallery */

/* Success */

/* Feedback */

/* News */

/* Footer */